/*soluzione1*/
.ex-1-square:hover{
    background-color: red;
}


/*soluzione2*/
.ex-2-square:active{
    width: 100%;
}


/*soluzione3*/
.ex-3-square:hover{
    border-radius: 50%;
}


/*soluzione4*/
.ex-4-square:hover{
    opacity: 0;
}


/*soluzione5*/
.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}


/*soluzione6*/
.ex-6-img:hover{
    filter: grayscale(100%);
}


/*soluzione7*/
.ex-7-img:hover{
    filter: grayscale(100%);
    filter: sepia(100%);
}


/*soluzione8*/
.ex-8-img:hover{
    filter: contrast(50%);
    filter: sepia(100%);
    border-radius: 20px;
}


/*soluzione9*/
.ex-9-img:hover{
    filter: contrast(50%);
    filter: sepia(100%);
    border-radius: 20px;
    transform: scale(1.5);
}


/*soluzione10*/
@keyframes ex-10{
    0%{
        transform: rotate(360deg);
    }
}


/*soluzione11*/
.ex-11-icon:hover{
    animation: ex-11 3s linear infinite;
}

@keyframes ex-11{
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/*soluzione12*/
.ex-12-button:hover .ex-12-top-white{
    animation: ex-12a 3s linear
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: ex-12b 3s linear
}

@keyframes ex-12a {
    50%{
        left: 60%;
    }
    100%{
        left: 10%;
    }
}

@keyframes ex-12b {
    50%{
        right: 60%;
    }
    100%{
        right: 20%;
    }
}


/*soluzione13*/
.ex-13-button:hover .ex-13-top-white{
    animation: ex-13a 3s linear
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: ex-13b 3s linear
}

@keyframes ex-13a {
    0%{
        top: -10px;
        left: 10%;
    }
    25%{
        
    }
    50%{

    }
    100%{

    }
}

@keyframes ex-13b {
    0%{
        bottom: -10px;
        right: 20%;
    }
    25%{
        
    }
    50%{

    }
    100%{

    }
}